/*@media screen and (max-width: 768px) {*/
/*    .item{*/
/*        background: red;*/
/*        width: 100%;*/
/*        max-width: none;*/
/*    }*/
/*    .wrap{*/
/*        max-width: none;*/
/*        width: auto;*/
/*        height: auto;*/
/*        background: lightgreen;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 540px) {*/
/*    .item{*/
/*        background: teal;*/
/*        width: 100%;*/
/*        max-width: none;*/
/*        border-radius: 20px;*/
/*        border: 5px solid lightcoral;*/
/*    }*/
/*    .wrap{*/
/*        max-width: none;*/
/*        width: auto;*/
/*        height: auto;*/
/*        background: lightgreen;*/
/*    }*/
/*}*/
@media screen and (max-width: 768px) {
    .side-menu{
        display: none;
    }
    .content{
        width: 80%;
    }
}
@media screen and (max-width: 500px) {
    aside{
        display: none;
    }
    .content{
        width: auto;
        margin: 0;
    }
    .content h1{
        text-align: center;
    }
    .content-text img{
        float: none;
        width: 100%;
    }
}
