@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin font($size, $weight, $family,$color:red,$space:15px){
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
    color: $color;
    letter-spacing: $space;
}