*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.wrap{
    background: lightgray;
}
.block1{
    width: 100px;
    height: 100px;
    background: #000;
}
.block2{
    width: 100px;
    height: 100px;
    background:  red;
}