*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.btn button{
    padding: 15px 30px;
    font-size: 25px;
    cursor: pointer;
}
.btn1{
    background: yellow;
    padding: 15px 30px; 
}