*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.block{
    height: 100px;
}
.carousel-indicators{
    align-items: center;
    .active{
        opacity: 1!important;
    }
}
.carousel-indicators [data-bs-target]{
    width: 16px;
    height: 16px;
    background: #24A3FF;
    border-radius: 50%;
    font-size: 0;
    box-sizing: border-box;
    border: 0;
    opacity: .2;
}
.test{
    height: 800px;
    background: url('../images/blur.png') repeat-x bottom,
    url('../images/symbol.svg') no-repeat bottom center,
    url('../images/patern.svg') no-repeat bottom center,
    linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

@media screen and (max-width:400px) {
    .test{
        background: url('../images/blur.png') repeat-x bottom,
        url('../images/symbol.svg') no-repeat bottom center,
        linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    }
}


.map{
    width: 100%;
    height: 600px;
}
.video{
    width: 100%;
    height: 500px;
}

.test{
    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: auto;
}

